# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
.prompts/
# dependencies
node_modules/
# Expo
.expo/
dist/
web-build/
pre-build/
android/
ios/
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
# typescript
*.tsbuildinfo

#unusedComponent
_unused/

# Test files
*.spec.ts
*.spec.tsx
jest.config.js
jest-setup.ts
eslint.config.js